@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

footer {
  margin-top: 3rem;
}

h1 {
  color: orange;
  font-weight: 600;
  text-transform: Capitalize;
}

.images {
  text-align: center;
  text-transform: capitalize;
  width: 80vw;
  margin: 0 auto 10rem auto;
}
.single-image {
  border: 2px solid tomato;
  padding: 1rem 0;
}
@media screen and (min-width: 992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

.single-product {
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
}
@media screen and (min-width: 768px) {
  .single-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
